.card{
    width: 290px ;
    height: 400px;
    box-shadow: 0px 0px 10px  gray;
    margin: 7px;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 10px;
    position: relative;
}

.card:hover{
    scale: 1.01;
    box-shadow: 0px 0px 10px  black;
    z-index: 2;
    background-color: aliceblue;
    cursor: pointer;
}


.rating p{
    color: orange;
}

.btn{
    position: absolute;
    bottom: 10px;
}